
<div class="main">

    <div class="row">

      <div class="col-sm-4">
       <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            ABOUT
          </a>
          <img src="/assets/green.jpg" alt="event image" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            THALUK'S
          </a>
          <img src="/assets/mandya.jpg" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            EVENTS
          </a>
          <img src="/assets/kabaddi.JPG" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            TOURISM
          </a>
          <img src="/assets/krs.jpg" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            CULTURE
          </a>
          <img src="/assets/Agri1.JPG" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            POLITICS
          </a>
          <img src="/assets/politics.jpg" alt="event image" class="img-responsive">
        </div>
      </div></div>

  </div>


</div>
<div class="vv">
  <h3 class="vv-heading"><strong>ಅನ್ನದಾತ</strong></h3>
  <img src="/assets/vv1.jpg" class="vv-image img-circle" />
  <h3 class="vv-heading1"><strong>"ಬೆಂಗಾಡಾಗಿದ್ದ ಮಂಡ್ಯವನ್ನು ಬಂಗಾರದಂತೆ ಮಾಡಿದ ಸರ್ ಎಂ. ವಿಶ್ವೇಶ್ವರಯ್ಯ"</strong></h3>
</div>

<!-- <div class="thaluk-head"><h3 class="vv-heading"><strong>Thaluk's in Mandya</strong></h3></div>
<div class="row">
  <div class="col-sm-4">
    <a href="/mandya">
      <div class="thaluk-card">
        <div class="header">
          <h4 class="title">Mandya</h4>
        </div>
        <img src="/assets/mandya.jpg" class="image-style" /><br>
        <span class="image-name text-muted">Karnataka</span>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Maddur</h4>
      </div>
      <img src="/assets/maddur.jpg" class="image-style" /><br>
      <span class="image-name text-muted">Karnataka</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Malavalli</h4>
      </div>
      <img src="/assets/malavalli.jpg" class="image-style" /><br>
      <span class="image-name text-muted">Karnataka</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Pandavapura</h4>
      </div>
      <img src="/assets/pandavapura.jpg" class="image-style" /><br>
      <span class="image-name text-muted">Karnataka</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Srirangapatna</h4>
      </div>
      <img src="/assets/srirangapatna.JPG" class="image-style" /><br>
      <span class="image-name text-muted">Karnataka</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Nagamangala</h4>
      </div>
      <img src="/assets/nagamangala.jpg" class="image-style" /><br>
      <span class="image-name text-muted">Karnataka</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">K.R Pet</h4>
      </div>
      <img src="/assets/mandya.jpg" class="image-style" /><br>
      <span class="image-name text-muted">Karnataka</span>
    </div>
  </div>

</div> -->