<!-- commented for testing -->
<div class="main">

    <div class="row">

      <div class="col-sm-4">

       <div class="thaluk-card">

        <div class="communities-image">
          <a class="join" href="/mandya">
            ABOUT
          </a>
          <a href="/mandya">
          <img src="/assets/green.jpg" alt="event image" class="img-responsive">
           </a>
        </div>
      </div>

    </div>
    <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="/mandya/thaluk">
            THALUK'S
          </a>
          <a href="/mandya/thaluk">
          <img src="/assets/mandya.jpg" alt="event image" class="img-responsive"></a>
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            EVENTS
          </a>
          <img src="/assets/kabaddi.JPG" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            TOURISM
          </a>
          <img src="/assets/krs.jpg" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            CULTURE
          </a>
          <img src="/assets/Agri1.JPG" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            POLITICS
          </a>
          <img src="/assets/politics.jpg" alt="event image" class="img-responsive">
        </div>
      </div></div>

  </div>


</div>
<div class="vv">
  <h3 class="vv-heading"><strong>ಅನ್ನದಾತ</strong></h3>
  <img src="/assets/vv1.jpg" class="vv-image img-circle" />
  <h3 class="vv-heading1"><strong>"ಬೆಂಗಾಡಾಗಿದ್ದ ಮಂಡ್ಯವನ್ನು ಬಂಗಾರದಂತೆ ಮಾಡಿದ ಸರ್ ಎಂ. ವಿಶ್ವೇಶ್ವರಯ್ಯ"</strong></h3>
</div>