<div class="main">
<p class="main_words">   Mandya District is an administrative district of Karnataka, India. Mandya District borders on the south by Mysore District, on the west by Hassan District, on the north by Tumkur District and on the east by Ramanagara district. The district was formed in the year 1939.The main town is in Mandya District is Mandya. Mandya district gets its name from the city of Mandya which is also the headquarters of the district. Legend has it that the name Mandya may have originated from the popular belief that Mandavya - a holy man, much revered lived in the area in ancient times. <!-- Mandya's history is closely related to the history of the old Mysore State, which included the present district of Mandya and areas around the Cauvery Basin. Ruled successively by the kings of the Ganga dynasty and then the Cholas and the Hoysalas, the area was annexed by the rulers of Vijayanagara in 1346. After the cruel battle of 1565 When the Vijayanagara king was defeated by the combined power of the Sultans of the Deccan, the Vijayanagara Empire began to lose its power and extent. The Wodeyars of Mysore gradually grew in importance. Before long, they had established their own rule over a large part of South India which included all of old Mysore, parts of the present Tamil Nadu and the districts of Dakshina Kannada and Dharwar, with Srirangapatna as their capital.The power of the Wodeyars was more or less unchallenged till 1761 when Hyder Ali, one of their generals rose to great strength and overcame them. Between then and 1799 when Hyder's son Tipu was defeated by the British, the area was under constant crossfire.Finally on 30 June 1 799, Krishnaraja Wodeyar Ill, a descendant of the ancient royal house was placed on the throne o Mysore by the British while Srirangapatna became the property of the victorious East India Company. The dynastic rule of Wodeyars thereafter ended only with the establishment of democracy in free India. The district of Mandya itself constituted in 1939 as an administrative unit with seven taluks has remained unchanged to this day.The district covers an area of about 4850.8 square kilometers, about 1140th of the area of the whole state. The area is plain except for a few outcrops of rocks that stand out as ridges and an extension of the Biligirirangana range of mountains in the southeast. Perhaps among Mandya's greatest assets are its four rivers, the Cauvery, Hemavati, lokapavani and Shimsha that give the district both religious importance and scenic beauty. --></p>
</div>
<div class="vv">
<h3 class="vv-heading"><strong>ಅನ್ನದಾತ</strong></h3>
<img src="/assets/vv1.jpg" class="vv-image img-circle" />
<h3 class="vv-heading1"><strong>"ಬೆಂಗಾಡಾಗಿದ್ದ ಮಂಡ್ಯವನ್ನು ಬಂಗಾರದಂತೆ ಮಾಡಿದ ಸರ್ ಎಂ. ವಿಶ್ವೇಶ್ವರಯ್ಯ"</strong></h3>
</div>
<div class="thaluk-head"><h3 class="vv-heading"><strong>Thaluk's in Mandya</strong></h3></div>
<div class="row">
  <div class="col-sm-4">
    <a href="/mandya">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Mandya</h4>
         </div>
         <img src="/assets/mandya.jpg" class="image-style" /><br>
         <span class="image-name text-muted">Karnataka</span>
       </div>
       </a>
     </div>
     <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Maddur</h4>
         </div>
         <img src="/assets/maddur.jpg" class="image-style" /><br>
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Malavalli</h4>
         </div>
         <img src="/assets/malavalli.jpg" class="image-style" /><br>
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Pandavapura</h4>
         </div>
         <img src="/assets/pandavapura.jpg" class="image-style" /><br>
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Srirangapatna</h4>
         </div>
         <img src="/assets/srirangapatna.JPG" class="image-style" /><br>
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">Nagamangala</h4>
         </div>
         <img src="/assets/nagamangala.jpg" class="image-style" /><br>
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>
     <div class="col-sm-4">
    <div class="thaluk-card">
      <div class="header">
        <h4 class="title">K.R Pet</h4>
         </div>
         <img src="/assets/mandya.jpg" class="image-style" /><br>
         <span class="image-name text-muted">Karnataka</span>
       </div>
     </div>

     </div>