.thaluk-image{
  height:300px;
  width:350px;
}
.sp-icon{
height: 250px;
width: 350px;
}
.sp-icons{
  padding-left: 50px;
  text-align: center;
}
.fam-col-head{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.fam-col{
 margin-left: 100px;
 text-align: center;
 margin-bottom: 150px;
 margin-right: 100px;
}
.fam-col-row, .fam-col-td{
border: 1px solid black;
height: 50px;
padding-left: 5px;
padding-right: 5px;
}
.btn-lg{
  margin-bottom: 50px;
  margin-left: 650px;
}
.btn-college{
margin-left: 100px;
}