
<div class="main">

    <div class="row">

      <div class="col-sm-4">

       <div class="thaluk-card">

        <div class="communities-image">
          <a class="join" href="/mandya/mandya_thaluk">
            MANDYA
          </a>
          <a href="/mandya/mandya_thaluk">
          <img src="/assets/mims.jpg" alt="event image" class="img-responsive">
           </a>
        </div>
      </div>

    </div>
    <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="/mandya/mandya_thaluk">
            MADDUR
          </a>
          <a href="/mandya/mandya_thaluk">
          <img src="/assets/maddur.jpg" alt="event image" class="img-responsive"></a>
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            MALAVALLI
          </a>
          <img src="/assets/malavalli.jpg" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            SRIRANGAPATTANA
          </a>
          <img src="/assets/srirangapatna.JPG" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            PANDAVAPURA
          </a>
          <img src="/assets/pandavapura.jpg" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            NAGAMANGALA
          </a>
          <img src="/assets/nagamangala.jpg" alt="event image" class="img-responsive">
        </div>
      </div></div>
      <div class="col-sm-4">   <div class="thaluk-card">
        <div class="communities-image">
          <a class="join" href="#">
            K.R.PETE
          </a>
          <img src="/assets/krpete.jpg" alt="event image" class="img-responsive">
        </div>
      </div></div>

  </div>


</div>