<div class="mandya-main">
<% if current_admin.present? %>
<button class="btn btn-primary btn-college" type="button" data-toggle="modal" data-target="#myModal">ADD COLLEGES</button>
<%= render :partial => "famous_college" %>
<% else %>
<%= render :partial => "famous_college" %>
<% end %>


 <%= link_to 'BACK',  mandya_mandya_thaluk_path, :class =>"btn btn-primary btn-lg" %>
            </div>