<div class="mandya-main">

  <div class="mandya-header">
     <h3>Origin Of Name</h3>
    <img src="/assets/map1.jpg"  class="about-image" align="right">
  <p class="main-words">Mandya district is part of large plateau from Mysore to the edges of Easter Ghats. Therefore, there are not many legends describing the origin of the district as such, but there are quite a few legends describing the origin of the place.Mandya seems to have been known as ‘Vedaranya’ and later, as ‘Vishnupura’ in  Kritayuga. It is said that a rishi (sage) was doing a penance here and installed an image of God Janardana and was said to be teaching wild beast to pronounce the sacred word, VEDA. On this account, the place came to be known as ‘Vedaranya’.Several years later, but during the same yuga, another rishi, who was residing here, setup an image of the God Sakaleshwara swami and Lord Vishnu, it is said, appeared to him. The place was thereafter renamed as ‘Vishnupura’. Another account says that towards the age of Dwapara yuga, king by name Indravarma, who had not issues, came to this place in the hope of getting a son.  His prayers were granted, and his son Somavarma built a fort and an agrahara at this place and gave it the name Mandevemu, which, it is believed has been corrupted into Mandya. It is also said that in ancient days, a great and popular sage, called Mandavya, lived in the area doing tapas and the place came to be called Mandya after his name.A more recent account is that the village was granted by Krishna devaraya of Vijayanagar in 1516 to Govinda Raja, twelfth in descent from Anantacharya, a disciple of the religious reformer, Ramanujacharya, and a distinguished devotee of Lord Venkatesha of Tirupati. The first Brahmin families, which settled down here, named the place Mandya after their native place near Tirupati.</p></div>


<div class="kaveri">
  <h3><strong>ಕಾವೇರಿ</strong></h3>
  <img src="/assets/kaveri.jpg"  class="img-kaveri img-circle">
 <h3><strong>"ಮಂಡ್ಯ ಜಿಲ್ಲೆಯ ಜೀವನಾಡಿ ಕಾವೇರಿ"</strong></h3>

</div>
<h3><strong>Mandya District</strong></h3>
<p class="main-words">The district receives an average annual rainfall of 700 millimeters. The climate of the district comprises of moderate summers (Maximum 35 degree Celsius) and moderate winters (Minimum 20 degree Celsius).The District lies between 76° 19' and 77° 20' East Longitude and 12° 13' and 13° 04' North Latitude. It is bounded on the North by Hassan and Tumkur Districts on the East, by Tumkur and Bangalore Districts on the South by Mysore and on the West by the districts of Hassan and Mysore.Mandya district comprises of 7 taluks. The total geographical area of the district is 4,98,244 Hectares, out of which 2,53,067 Hectares forms the  sown area.  More than half of the total land area in the district is put to agricultural use. 94,779 Hectares of land is irrigated. With a total population of 19.25 lakhs, around 5 lakh people are employed in the Agriculture Sector. <br>   </p>

<%= render :partial => "maker" %>



</div>
