<div class="mandya-main">
<p class="main-words">Mandya (Kannada: ಮಂಡ್ಯ) is a city in the state of Karnataka, India. It is the headquarters of Mandya district and is located 40 km from Mysore and 100 km from Bangalore. First place to introduce Hydro - Electrical Power Supply In Karnataka</p>

</div>