<div class="mandya-main">
   <div class="mandya-header">
<h3>About Mandya Thaluk</h3>
 <p class="main-words">Mandya thaluk is the heart of the Mandya district.It is a beatiful city where we can see all type of people like poor, rich, villager and so on. Lorem ipsum dolor sit amet, exerci albucius insolens eum cu, eos labores reprehendunt no. Has doming denique fabellas ad, an nam graeci dictas. Putant ornatus posidonium et qui. Tibique reprimique pri ad. Mel ex dicant cetero incorrupte. Eum suscipit placerat no. In affert malorum pri, nam debitis accumsan ad. Nec invenire conceptam ei, eu soleat epicuri eloquentiam ius. Vide inimicus volutpat cum ei, et usu paulo malorum ornatus, has probo illum ex. Sea eu deseruisse neglegentur, lobortis voluptaria definiebas te usu, usu at affert deserunt pericula. Probatus gubergren no vix. Qui reque fugit solet an. Eam an labores principes maiestatis, magna mazim philosophia eum at. Fugit civibus ut mel, quidam ornatus his ne. Nam nonumy aliquando signiferumque ne, at vide dicat ius. Per tamquam euripidis eu. Est esse debitis omnesque te, id qui erant option theophrastus. Everti utroque mea ad, ea soleat verterem dissentiet sit. Nobis efficiendi duo ut. Agam noster maluisset id mei, soleat dicunt in sea, vix ut movet adversarium repudiandae. Ea has dicam molestie delicatissimi.
Consul iriure constituto te sed, posse soluta evertitur vix ad. Aliquid delenit habemus ei ius, nec purto case doming ad. Pro ex solet scaevola, ius modus clita eu. Duo eu tale labores epicurei, sea maiorum constituto ad.</p>
</div>

<div class="sp-icons">
  <div class="row">
  <div class="col-sm-4">
    <h3>Government Offices</h3>
  <a href="http://www.justdial.com/Mandya/Government-Organisations/ct-10235475"> <img src="/assets/gov_office.jpg" class="sp-icon img-circle"> </a>
  </div>
   <div class="col-sm-4">
    <h3>Famous colleges</h3>
     <a href="/mandya/famous_college"> <img src="/assets/college.jpg" class="sp-icon img-circle"> </a>
   </div>
    <div class="col-sm-4">
      <h3>Famous hospitals</h3>
      <a href=""> <img src="/assets/hospital.jpg" class="sp-icon img-circle"> </a>
    </div>
  </div>

</div>
</div>