<div class="mandya-main">

  <div class="mandya-header">
     <h3>Thaluk's in Mandya</h3>
    <img src="/assets/map2.jpg"  class="thaluk-image" align="right">
  <p class="main-words">Mandya District (Kannada: ಮಂಡ್ಯ ಜಿಲ್ಲೆ) is an administrative district of Karnataka, India. Mandya District borders on the south by Mysore District, on the west by Hassan District, on the north by Tumkur District and on the east by Ramanagar district. The district was formed in the year 1939.It has 7 thaluk's.They are <br>
    1.Mandya <br> 2. Maddur <br> 3.Malavalli <br> 4.Srirangapattana <br> 5.Pandavapura <br> 6.Nagamangala <br> 7.K.R.pete</p></div>
    <%= render :partial => "thaluk" %>
</div>