<footer class="">
  <div class="footer-labels">
    <a href="http://it.inotary.qwinixtech.com?referral=Mandya" >Inotary</a>&nbsp;<span class="icons-down-arrow footer-arrow-margin"> </span>&nbsp;
    <a href="#">Politics </a>&nbsp;<span class="icons-down-arrow footer-arrow-margin"> </span>&nbsp;
    <a href="#">Culture </a>&nbsp;<span class="icons-down-arrow footer-arrow-margin"> </span>&nbsp;
    <a href="#">Sports </a>&nbsp;<span class="icons-down-arrow footer-arrow-margin"> </span>&nbsp;
    <a href="#">About</a>&nbsp;<span class="icons-down-arrow footer-arrow-margin"> </span>&nbsp;
    <a href="#">Blog </a>&nbsp;<span class="icons-down-arrow footer-arrow-margin"> </span>&nbsp;
    <a href="#">Terms </a>&nbsp;<span class="icons-down-arrow footer-arrow-margin"> </span>&nbsp;
    <a href="#">Privacy Policly </a>&nbsp;<span class="icons-down-arrow footer-arrow-margin"> </span>&nbsp;

  </div>
  <div><a href="#"><img src="/assets/negilu.png" alt="qwinix logo" class="img-circle"/>  </a></div>
  <!--            <div> &copy; 2014 About.com &mdash; All rights reserved.</div>-->
  <div class="footer-copyrights"> <span class="copyright-icon">&COPY; </span>2014 A Product by Fureas  All rights reserved. </div>
</footer>