<header id="top" class="navbar navbar-fixed-top bs-docs-nav">

            <div class="navbar-header">
                <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a  href="#"><img src="/assets/fureas-logo-180.png" class="logo-padding logo-size" /></a> -->
                <a href="/"><h1 class="logo">ಮಧುರ ಮಂಡ್ಯ</h1></a>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#" >Politics</a></li>
                    <li><a href="#">Culture</a></li>
                    <li><a href="#">Sports</a></li>
                    <% if current_admin.present? %>
                    <li><%= link_to 'Sign Out', admin_sign_out_path, :method => "delete" %></li>
                    <% else %>
                    <li><a href="/mandya">About</a></li>
             <li><a href="http://uat.inotary.qwinixtech.com?referral=Mandya" >Inotary</a></li>
                    <% end %>
                </ul>
                <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="search...">
                </form>

            </nav>
        </header>